/* App Styles */

h1 {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

main {
  padding: 64px 16px 0 16px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  main {
    width: 84%;
  }
}
